<div class="controls">
  <button class="control-button" (click)="addHandler()" [disabled]="isCreatingSlide">+</button>
  <button class="control-button" (click)="toggleEditWindow(true)">✎</button>
</div>

<div class="glass" *ngIf="isEdit" (click)="closeEditWindow()"></div>

<form class="edit-window" *ngIf="isEdit" #slideForm="ngForm">
  <div class="edit-container">
    <label for="edit-slide-title">Title</label>
    <input
      class="input-field"
      type="text"
      name="title"
      id="edit-slide-title"
      [(ngModel)]="slide.title"
      required
      #title="ngModel"
    >
  </div>

  <div class="edit-container">
    <label for="edit-slide-template">Template</label>
    <textarea
      class="input-field"
      id="edit-slide-template"
      rows="15"
      [(ngModel)]="slide.template"
      name="template"
      #template="ngModel"
      required
    >
    </textarea>
  </div>

  <p class="warning" *ngIf="slideForm.invalid">All fields must containt at least 1 symbol</p>

  <div class="edit-container edit-buttons">
    <button
      class="edit-button"
      type="button"
      (click)="saveSlider()"
      [disabled]="slideForm.invalid"
    >
      Save
    </button>
    <button class="edit-button" (click)="closeEditWindow()">Cancel</button>
  </div>
</form>
