<footer>
<div class="footer" *ngIf="currentSlideId !== null && slides">
  <button (click)="goBack()" [disabled]="currentSlideId === 1">
    <- Prev
  </button>
  <div>
    {{currentSlideId}} / {{slides}}
  </div>
  <button routerLink="/slide/{{currentSlideId + 1}}" [disabled]="currentSlideId === slides">
    Next ->
  </button>
</div>

  <span class="becool" (click)="beCool()">
    be cool!
  </span>

  <iframe
    src="https://codepen.io/guyom/full/rmXyvR/"
    class="spinner"
    frameborder="0"
    [ngClass]="{
      'spinner--hide': !spinner
    }"
  >
  </iframe>
</footer>
