.sidebar {
  position: fixed;
  width: 150px;
  height: calc(100% - 30px);
  background: rgba(226,226,226,.5);
  padding: 30px 10px;
  padding-bottom: 0;
  transition: .5s ease;
  top: 0;
  left: 0;
}

.slides-container {
  width: 100%;
  min-height: 200px;
  max-height: 600px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slide {
  width: 100%;
  height: 100px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffff;
}
