.sidebar {
  position: fixed;
  width: 200px;
  height: calc(100% - 30px);
  background: rgba(226,226,226,.5);
  padding: 30px 10px;
  padding-bottom: 0;
  transition: .5s ease;
  top: 0;
  left: 0;
}

.slides-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: scroll;
}

.slide {
  position: relative;
  width: 100%;
  height: 100px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffff;
  transition: .5s ease;
  flex-direction: column;
  outline: none;
  box-shadow: 0 10px 6px -6px #777;
  border: 1px solid rgba(226,226,226,.5);
}

.slide:hover {
  cursor: pointer;
  background: rgba(226,226,226,.5);
}

.slide--current {
  background: rgba(226,226,226,.5);
}

.slide--current p {
  margin-bottom: 0;
}

.delete {
  width: 25px;
  height: 25px;
  line-height: 25px;
  position: absolute;
  right: 0;
  top: 5px;
  text-align: center;
  transition: .5s ease;
}

.delete:hover {
  background: rgba(226, 0, 5, 0.5);
}
